openapi: "3.0.0"
info:
  version: 2.0.0
  title: FHIR-247
  description: An FHIR API example that uses a methodology to demonstrate features in the OpenAPI 3.0 specification
  termsOfService: http://swagger.io/terms/
  contact:
    name: Developer
    email: danang.kastowo@labs247.id
    # url: http://swagger.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://fhir.labs247.id/v2
paths:
  /Person:
    get:
      tags:
        - Administration
      description: |
        Person list
      operationId: administration.getPersons
      parameters:
        - name: token
          in: header
          required: true
          schema:
            type: string
        - name: offset
          in: query
          description: minimum number to start
          required: false
          style: form
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: maximum number of results to return
          required: false
          schema:
            type: integer
            format: int32
        - name: address
          in: query
          description: A server defined search that may match any of the string fields in the Address, including line, city, district, state, country, postalCode, and/or text
          required: false
          schema:
            type: string
        - name: address-city
          in: query
          description: A city specified in an address
          required: false
          schema:
            type: string
        - name: address-country
          in: query
          description: A country specified in an address
          required: false
          schema:
            type: string
        - name: address-postalcode
          in: query
          description: A postalCode specified in an address
          required: false
          schema:
            type: string
        - name: address-state
          in: query
          description: A state specified in an address
          required: false
          schema:
            type: string
        - name: address-use
          in: query
          description: A use code specified in an address
          required: false
          schema:
            type: string
        - name: birthdate
          in: query
          description: The person's date of birth
          required: false
          schema:
            type: string
            format: date
        - name: email
          in: query
          description: A value in an email contact
          required: false
          schema:
            type: string
            format: email
        - name: gender
          in: query
          description: Gender of the person
          required: false
          schema:
            type: string
        - name: identifier
          in: query
          description: A person Identifier
          required: false
          schema:
            type: string
        - name: link
          in: query
          description: Any link has this Patient, Person, RelatedPerson or Practitioner reference
          required: false
          schema:
            type: string
        - name: name
          in: query
          description: A server defined search that may match any of the string fields in the HumanName, including family, give, prefix, suffix, suffix, and/or text
          required: false
          schema:
            type: string
        - name: organization
          in: query
          description: The organization at which this person record is being managed
          required: false
          schema:
            type: string
        - name: patient
          in: query
          description: The Person links to this Patient
          required: false
          schema:
            type: string
        - name: practitioner
          in: query
          description: The Person links to this Practitioner
          required: false
          schema:
            type: string
        - name: relatedperson
          in: query
          description: The Person links to this RelatedPerson
          required: false
          schema:
            type: string
        - name: phone
          in: query
          description: A value in a phone contact
          required: false
          schema:
            type: string
        - name: telecom
          in: query
          description: The value in any kind of telecom details of the patient
          required: false
          schema:
            type: string
      responses:
        '200':
          description: person response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Persons'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultMessage'
    post:
      tags:
        - Administration
      description: |
        Create a  new person
      operationId: administration.addPerson
      requestBody:
        description: Create a new person
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPerson'
      responses:
        '200':
          description: person response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultMessage'
  /Person/{id}:
    get:
      tags:
        - Administration
      description: |
        Detailed person information
      operationId: administration.getPerson
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: person response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultMessage'
    put:
      tags:
        - Administration
      description: |
        Updated person information
      operationId: administration.updatePerson
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        description: Update a person
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewPerson'
      responses:
        '200':
          description: person response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultMessage'
    delete:
      tags:
        - Administration
      description: |
        Delete person information
      operationId: administration.deletePerson
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer

      responses:
        '200':
          description: person response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultMessage'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultMessage'
components:
  schemas:
    Persons:
      allOf:
        - $ref: '#/components/schemas/Person'
    Person:
      properties:
        resourceType:
          type: string
          example: Person
        id:
          type: integer
          format: int64
        meta:
          type: object
          properties:
            lastUpdated:
              type: string
              format: date-time
            versionId:
              type: integer
              format: int64
        text:
          type: object
          properties:
            status:
              type: string
            div:
              type: string
        identifier:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Identifier'
        name:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/HumanName'
        telecom:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/ContactPoint'
        gender:
          type: string
        birthDate:
          type: string
          format: date
        address:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Address'
        photo:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Attachment'
        managingOrganization:
          type: object
        active:
          type: boolean
        link:
          type: array
          items:
            type: object
            properties:
              target:
                type: object
              assurance:
                type: string
    NewPerson:
      properties:
        identifier:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Identifier'
        name:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/HumanName'
        telecom:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/ContactPoint'
        gender:
          type: string
          enum:
            - male
            - female
            - other
            - unknown
        birthDate:
          type: string
          format: date
        address:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Address'
        photo:
          type: array
          items:
            allOf:
              - $ref: '#/components/schemas/Attachment'
        managingOrganization:
          type: object
        active:
          type: boolean
        link:
          type: array
          items:
            type: object
            properties:
              target:
                type: object
              assurance:
                type: string
    Identifier:
      type: object
      properties:
        use:
          type: string
          enum:
            - usual
            - official
            - temp
            - secondary
            - old
        type:
          type: object
          properties:
            text:
              type: string
            coding:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  system:
                    type: string
                  display:
                    type: string
        system:
          type: string
        value:
          type: string
    HumanName:
      type: object
      properties:
        use:
          type: string
          enum:
            - usual
            - official
            - temp
            - nickname
            - anonymous
            - old
            - maiden
        text:
          type: string
        family:
          type: string
        given:
          type: array
          items:
            type: string
        prefix:
          type: array
          items:
            type: string
        suffix:
          type: array
          items:
            type: string
    ContactPoint:
      type: object
      properties:
        system:
          type: string
          enum:
            - phone
            - fax
            - email
            - pager
            - url
            - sms
            - other
        value:
          type: string
        use:
          type: string
          enum:
            - home
            - work
            - temp
            - old
            - mobile
        rank:
          type: integer
    Address:
      type: object
      properties:
        use:
          type: string
          enum:
            - home
            - work
            - temp
            - old
            - billing - purpose of this address
        type:
          type: string
          enum:
            - postal
            - physical
            - both
        text:
          type: string
        line:
          type: array
          items:
            type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
        postalCode:
          type: string
        country:
          type: string
    Attachment:
      type: object
      properties:
        contentType:
          type: string
        language:
          type: string
        data:
          type: string
          format: byte
        url:
          type: string
        size:
          type: string
        hash:
          type: string
          format: byte
        title:
          type: string
    DefaultMessage:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string